#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b > #backgroundBox {
  position: absolute;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b > #alignmentBox {
  position: relative;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Rectangle_5 {
  position: absolute;
  width: 1366.0px;
  min-height: 113.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #F6F7F8;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Panel_1 {
  width: 1215.0000000000007px;
  height: 465.48762240827773px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Rectangle_2 {
  position: absolute;
  width: 1215.0000000000007px;
  min-height: 465.48762240827784px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Rectangle_2 > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Image_2 .imageViewport > * {
  width: 149.97766803586546%;
  height: 118.58407079646017%;
  left: -24.988834372715406%;
  top: -9.734513274336283%;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Image_2 {
  position: absolute;
  width: 412.9140624999995px;
  height: 451.3390557939913px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_50 {
  position: absolute;
  width: 389.171875px;
  min-height: 84.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_50 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_50 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_50 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_50 span#rtr-s-Paragraph_50_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_13 {
  position: absolute;
  width: 304.7890625000007px;
  min-height: 31.61802575107299px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_45 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_45 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_45 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_45 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_45 span#rtr-s-Paragraph_45_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Panel_2 {
  width: 1215.0000000000007px;
  height: 492.65927114769426px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Rectangle_1 {
  position: absolute;
  width: 1215.0000000000007px;
  min-height: 493.00000000000017px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Rectangle_1 > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Image_1 .imageViewport > * {
  width: 149.97766803586546%;
  height: 118.58407079646017%;
  left: -24.98883437271541%;
  top: -9.734513274336285%;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Image_1 {
  position: absolute;
  width: 403.9999999999985px;
  height: 523.3390557939913px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_1 {
  position: absolute;
  width: 389.171875px;
  min-height: 168.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_1 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_2 {
  position: absolute;
  width: 304.7890625000007px;
  min-height: 31.61802575107299px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Panel_3 {
  width: 1215.0000000000007px;
  height: 487.22494139981126px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Panel_3 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Rectangle_3 {
  position: absolute;
  width: 1215.0000000000007px;
  min-height: 487.22494139981114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Rectangle_3 > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Image_3 .imageViewport > * {
  width: 149.97766803586546%;
  height: 118.58407079646017%;
  left: -24.988834372715406%;
  top: -9.734513274336283%;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Image_3 {
  position: absolute;
  width: 167.34649869216867px;
  height: 141.3390557939913px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_4 {
  position: absolute;
  width: 389.171875px;
  min-height: 66.66523605150223px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_4 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_5 {
  position: absolute;
  width: 304.7890625000007px;
  min-height: 31.61802575107299px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_6 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Panel_4 {
  width: 1215.0000000000005px;
  height: 410.88967971530275px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Panel_4 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Panel_4 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Rectangle_4 {
  position: absolute;
  width: 1215.0000000000007px;
  min-height: 451.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Rectangle_4 > .borderLayer {
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Image_4 .imageViewport > * {
  width: 149.97766803586546%;
  height: 118.58407079646017%;
  left: -24.988834372715406%;
  top: -9.734513274336283%;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Image_4 {
  position: absolute;
  width: 350.3464986921686px;
  height: 396.3390557939913px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_8 {
  position: absolute;
  width: 304.7890625000007px;
  min-height: 54.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_14 {
  position: absolute;
  width: 88.2757797241211px;
  min-height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_14 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-weight: 400;
  letter-spacing: 0.8px;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Table_1 {
  position: absolute;
  width: 1215.000000000001px;
  height: 91.11032028469731px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Table_1 > .backgroundLayer > .colorLayer {
  background-color: #F6F7F8;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_5 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_5 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_5 .verticalalign {
  vertical-align: middle;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_5 .borderLayer {
  border-left-width: 1.0px;
  border-top-width: 1.0px;
  border-bottom-width: 0.0px;
  border-right-width: 1.0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_5 {
  width: 49.99999999999995%;
  height: 100.0%;
  cursor: pointer;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_5 > .cellContainerChild > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_5 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_9 {
  width: 20.83740234375px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_9 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 700;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 700;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_3 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Verdana',Arial;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Verdana',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Verdana',Arial;
  font-size: 10.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_3 span#rtr-s-Text_3_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Calibri_6.26.0_system',Arial;
  font-size: 11.0pt;
  font-weight: 300;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_8 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_8 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_8 .verticalalign {
  vertical-align: middle;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_8 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 1.0px;
  border-bottom-width: 1.0px;
  border-right-width: 1.0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_8 {
  width: 49.99999999999995%;
  height: 100.0%;
  cursor: pointer;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_8 > .cellContainerChild > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_10 {
  width: 182.35693359375045px;
  min-height: 51.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_10 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Content_grid_1 {
  position: absolute;
  width: 633.3956783599339px;
  height: 52.35714285714312px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_1 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_1 td.layout {
  padding: 0px 0px 0px 20px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_1 .verticalalign {
  vertical-align: middle;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_1 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_1 {
  width: 24.999999999999993%;
  height: 99.99999999999964%;
  cursor: pointer;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_1 .Cell_1 > * {
  margin-right: 46px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_1 .Cell_1 > *:last-child {
  margin-right: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_1 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_4 {
  width: 56.806640625px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_4 span#rtr-s-Text_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Path_1 {
  width: 6.752659273543049px;
  height: 12.752659273543047px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_2 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_2 td.layout {
  padding: 0px 0px 0px 20px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_2 .verticalalign {
  vertical-align: middle;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_2 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_2 {
  width: 24.999999999999993%;
  height: 99.99999999999964%;
  cursor: pointer;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_2 .Cell_2 > * {
  margin-right: 29px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_2 .Cell_2 > *:last-child {
  margin-right: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_2 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_5 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_5 span#rtr-s-Text_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Path_2 {
  width: 6.752659273543049px;
  height: 12.752659273543047px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_3 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_3 td.layout {
  padding: 0px 0px 0px 20px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_3 .verticalalign {
  vertical-align: middle;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_3 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_3 {
  width: 24.999999999999993%;
  height: 99.99999999999964%;
  cursor: pointer;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_3 .Cell_3 > * {
  margin-right: 46px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_3 .Cell_3 > *:last-child {
  margin-right: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_3 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_6 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_6 span#rtr-s-Text_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Path_3 {
  width: 6.752659273543049px;
  height: 12.752659273543047px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_4 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_4 td.layout {
  padding: 0px 0px 0px 20px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_4 .verticalalign {
  vertical-align: middle;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_4 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_4 {
  width: 24.999999999999993%;
  height: 99.99999999999964%;
  cursor: pointer;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_4 .Cell_4 > * {
  margin-right: 46px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_4 .Cell_4 > *:last-child {
  margin-right: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_4 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_7 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_7 span#rtr-s-Text_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Path_4 {
  width: 6.752659273543049px;
  height: 12.752659273543047px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Allura_22.0.0_google',Arial;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Allura_22.0.0_google',Arial;
  font-size: 54.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Allura_22.0.0_google',Arial;
  font-size: 54.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Allura_22.0.0_google',Arial;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Allura_22.0.0_google',Arial;
  font-size: 54.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Allura_22.0.0_google',Arial;
  font-size: 54.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Content_grid_2 {
  position: absolute;
  width: 775.6880012512206px;
  height: 60.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_6 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_6 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_6 .verticalalign {
  vertical-align: middle;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_6 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_6 {
  width: 16.666666666666664%;
  height: 100.0%;
  cursor: pointer;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_6 .Cell_6 > *:first-child {
  margin-left: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_6 .Cell_6 > *:last-child {
  margin-right: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_6 .Cell_6 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_6 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_8 {
  width: 40.01220703125px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_8 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_8 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_8 span#rtr-s-Text_8_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_7 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_7 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_7 .verticalalign {
  vertical-align: middle;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_7 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_7 {
  width: 16.666666666666664%;
  height: 100.0%;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_7 .Cell_7 > *:first-child {
  margin-left: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_7 .Cell_7 > *:last-child {
  margin-right: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_7 .Cell_7 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_7 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_9 {
  width: 80.8740234375px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_9 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_9 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_9 span#rtr-s-Text_9_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_9 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_9 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_9 .verticalalign {
  vertical-align: middle;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_9 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_9 {
  width: 16.666666666666664%;
  height: 100.0%;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_9 .Cell_9 > *:first-child {
  margin-left: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_9 .Cell_9 > *:last-child {
  margin-right: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_9 .Cell_9 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_9 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_10 {
  width: 124.19921875000023px;
  min-height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_10 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_10 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_10 span#rtr-s-Text_10_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_10 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_10 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_10 .verticalalign {
  vertical-align: middle;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_10 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_10 {
  width: 16.666666666666664%;
  height: 100.0%;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_10 .Cell_10 > *:first-child {
  margin-left: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_10 .Cell_10 > *:last-child {
  margin-right: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_10 .Cell_10 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_10 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_11 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_11 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_11 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_11 span#rtr-s-Text_11_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_11 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_11 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_11 .verticalalign {
  vertical-align: middle;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_11 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_11 {
  width: 16.666666666666664%;
  height: 100.0%;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_11 .Cell_11 > *:first-child {
  margin-left: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_11 .Cell_11 > *:last-child {
  margin-right: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_11 .Cell_11 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_11 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_12 {
  width: 93.3837890625px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_12 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_12 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_12 span#rtr-s-Text_12_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_12 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_12 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_12 .verticalalign {
  vertical-align: middle;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_12 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_12 {
  width: 16.666666666666664%;
  height: 100.0%;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_12 .Cell_12 > *:first-child {
  margin-left: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_12 .Cell_12 > *:last-child {
  margin-right: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_12 .Cell_12 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Cell_12 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_13 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_13 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_13 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b #s-Text_13 span#rtr-s-Text_13_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-ecb926a4-bd0a-4007-acf6-7429f2ffc66b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}