#s-25acc505-b002-46be-8925-4920fccb0821 > #backgroundBox {
  position: absolute;
}
#s-25acc505-b002-46be-8925-4920fccb0821 > #alignmentBox {
  position: relative;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Rectangle_5 {
  position: absolute;
  width: 1555.9999999999995px;
  min-height: 113.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #F6F7F8;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Rectangle_1 {
  position: absolute;
  width: 1365.9999999999998px;
  min-height: 395.90475698295654px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #F1F1F1;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_3 {
  position: absolute;
  width: 532.9999999999998px;
  min-height: 166.89193502794438px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Montserrat_26.0.0_google',Arial;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 37.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_3 span#rtr-s-Text_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Montserrat_26.0.0_google',Arial;
  font-size: 37.5pt;
  font-weight: 700;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Rectangle_2 {
  position: absolute;
  width: 461.0px;
  min-height: 541.0821811115782px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  drop-shadow(-2.4492935982947064E-16px 4.0px 5px rgba(184,184,184,0.5));
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #F1F1F1;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Rectangle_2 > .backgroundLayer > .imageLayer {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: scroll;
  background-size: contain;
  opacity: 1.0;
  background-image: url('../../../images/ac06d310-226d-47f9-a456-40a4507727a5.jpg');
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Dynamic_Panel_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Panel_5 {
  width: 1366.0px;
  height: 348.0000000000009px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Panel_5 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Panel_5 > .borderLayer > .layoutWrapper {
  overflow-x: auto;
  overflow-y: hidden;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Panel_5 .verticalalign {
  vertical-align: top;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_63 {
  position: absolute;
  width: 275.0px;
  min-height: 73.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_63 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_63 .valign {
  vertical-align: top;
  text-align: left;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_63 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_63 span#rtr-s-Paragraph_63_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Title_13 {
  position: absolute;
  width: 299.99999999999994px;
  min-height: 86.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Title_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Title_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Title_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 26.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Title_13 span#rtr-s-Title_13_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 26.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Image_10 .imageViewport > * {
  width: 142.91045249003665%;
  height: 100.00000000000003%;
  left: -21.455226583082975%;
  top: 1.3441983844416824E-14%;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Image_10 {
  position: absolute;
  width: 314.5816733067726px;
  height: 289.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Image_3 .imageViewport > * {
  width: 100.00000000000009%;
  height: 113.62617762736653%;
  left: -0.0%;
  top: -6.813088813683358%;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Image_3 {
  position: absolute;
  width: 314.4999999999998px;
  height: 290.0000000000004px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Image .imageViewport > * {
  width: 142.91045249003662%;
  height: 100.00000000000003%;
  left: -21.455226583082972%;
  top: 1.3441983844416824E-14%;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Image {
  position: absolute;
  width: 314.5816733067726px;
  height: 289.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Image_2 .imageViewport > * {
  width: 100.00000000000009%;
  height: 113.62617762736653%;
  left: -0.0%;
  top: -6.813088813683358%;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Image_2 {
  position: absolute;
  width: 314.4999999999998px;
  height: 290.0000000000004px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Image_1 .imageViewport > * {
  width: 142.91045249003662%;
  height: 100.00000000000003%;
  left: -21.455226583082972%;
  top: 1.3441983844416824E-14%;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Image_1 {
  position: absolute;
  width: 314.5816733067726px;
  height: 289.9999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Dynamic_Panel_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Panel_3 {
  width: 1366.0px;
  height: 400.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Panel_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Panel_3 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Image_4 .imageViewport > * {
  width: 167.31091498156627%;
  height: 150.00000000000009%;
  left: -32.9572114847503%;
  top: -19.249999999999993%;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Image_4 {
  position: absolute;
  width: 559.4375000000002px;
  height: 399.9999999999998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_4 {
  position: absolute;
  width: 294.171875px;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_4 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_18 {
  position: absolute;
  width: 304.7890625000004px;
  min-height: 54.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_18 .valign {
  vertical-align: top;
  text-align: left;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_18 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Image_5 .imageViewport > * {
  width: 167.31091498156638%;
  height: 150.58823529411768%;
  left: -32.957211484750324%;
  top: -19.796078431372543%;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Image_5 {
  position: absolute;
  width: 559.4374999999998px;
  height: 398.4375px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_5 {
  position: absolute;
  width: 294.171875px;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_5 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_6 {
  position: absolute;
  width: 304.7890625000004px;
  min-height: 30.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: center;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Image_6 .imageViewport > * {
  width: 167.31091498156624%;
  height: 150.00000000000009%;
  left: -32.9572114847503%;
  top: -19.249999999999993%;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Image_6 {
  position: absolute;
  width: 559.4375000000002px;
  height: 399.9999999999998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_20 {
  position: absolute;
  width: 304.7890625000004px;
  min-height: 30.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_20 .valign {
  vertical-align: top;
  text-align: left;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_20 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_20 span#rtr-s-Paragraph_20_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Panel_4 {
  width: 1366.0px;
  height: 400.0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Panel_4 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Panel_4 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Image_7 .imageViewport > * {
  width: 167.31091498156624%;
  height: 150.00000000000009%;
  left: -32.957211484750296%;
  top: -19.249999999999993%;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Image_7 {
  position: absolute;
  width: 559.4375000000002px;
  height: 399.9999999999998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_29 {
  position: absolute;
  width: 304.7890625000004px;
  min-height: 30.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_29 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_29 .valign {
  vertical-align: top;
  text-align: left;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_29 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_29 span#rtr-s-Paragraph_29_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Image_8 .imageViewport > * {
  width: 167.31091498156638%;
  height: 150.58823529411768%;
  left: -32.957211484750324%;
  top: -19.796078431372546%;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Image_8 {
  position: absolute;
  width: 559.4374999999998px;
  height: 398.4375px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_8 {
  position: absolute;
  width: 294.171875px;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_8 span {
  color: #82888C;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
  line-height: 21px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Image_9 .imageViewport > * {
  width: 167.31091498156624%;
  height: 150.00000000000009%;
  left: -32.9572114847503%;
  top: -19.24999999999999%;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Image_9 {
  position: absolute;
  width: 559.4375000000002px;
  height: 399.9999999999998px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_31 {
  position: absolute;
  width: 304.7890625000004px;
  min-height: 30.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_31 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_31 .valign {
  vertical-align: top;
  text-align: left;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_31 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Paragraph_31 span#rtr-s-Paragraph_31_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #shapewrapper-s-Ellipse_4 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #shapewrapper-s-Ellipse_4 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #shapewrapper-s-Ellipse_4 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Ellipse_4 {
  width: 58.0px;
  height: 58.00000000000003px;
  min-height: 58.00000000000003px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 4.0px;
  stroke: #000000;
  cursor: pointer;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #shapewrapper-s-Ellipse_4 > .backgroundLayer > .colorLayer {
  background-color: rgba(255,255,255,0.0);
}
#s-25acc505-b002-46be-8925-4920fccb0821 #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #shapewrapper-s-Ellipse_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Path_91 {
  position: absolute;
  width: 8.4448000000001px;
  height: 14.727083237065713px;
  cursor: pointer;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #shapewrapper-s-Ellipse_5 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #shapewrapper-s-Ellipse_5 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #shapewrapper-s-Ellipse_5 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Ellipse_5 {
  width: 58.0px;
  height: 58.00000000000003px;
  min-height: 58.00000000000003px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 4.0px;
  stroke: #000000;
  cursor: pointer;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #shapewrapper-s-Ellipse_5 > .backgroundLayer > .colorLayer {
  background-color: rgba(255,255,255,0.0);
}
#s-25acc505-b002-46be-8925-4920fccb0821 #shapewrapper-s-Ellipse_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #shapewrapper-s-Ellipse_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Path_92 {
  position: absolute;
  width: 8.444799999999987px;
  height: 14.727083237065699px;
  cursor: pointer;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_15 {
  position: absolute;
  width: 1436.1718749999982px;
  min-height: 381.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Asap Condensed_17.0.0_google',Arial;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_15 .valign {
  vertical-align: top;
  text-align: center;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_15 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Asap Condensed_17.0.0_google',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Asap Condensed_17.0.0_google',Arial;
  font-size: 27.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Content_grid_2 {
  position: absolute;
  width: 633.3956783599339px;
  height: 52.35714285714312px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_8 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_8 td.layout {
  padding: 0px 0px 0px 20px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_8 .verticalalign {
  vertical-align: middle;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_8 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_8 {
  width: 24.999999999999993%;
  height: 99.99999999999964%;
  cursor: pointer;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_8 .Cell_8 > * {
  margin-right: 46px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_8 .Cell_8 > *:last-child {
  margin-right: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_8 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_11 {
  width: 56.806640625px;
  min-height: 16.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Path_1 {
  width: 6.752659273543049px;
  height: 12.752659273543047px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_9 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_9 td.layout {
  padding: 0px 0px 0px 20px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_9 .verticalalign {
  vertical-align: middle;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_9 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_9 {
  width: 24.999999999999993%;
  height: 99.99999999999964%;
  cursor: pointer;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_9 .Cell_9 > * {
  margin-right: 29px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_9 .Cell_9 > *:last-child {
  margin-right: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_9 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_12 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_12 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Path_2 {
  width: 6.752659273543049px;
  height: 12.752659273543047px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_10 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_10 td.layout {
  padding: 0px 0px 0px 20px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_10 .verticalalign {
  vertical-align: middle;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_10 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_10 {
  width: 24.999999999999993%;
  height: 99.99999999999964%;
  cursor: pointer;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_10 .Cell_10 > * {
  margin-right: 46px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_10 .Cell_10 > *:last-child {
  margin-right: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_10 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_13 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Path_3 {
  width: 6.752659273543049px;
  height: 12.752659273543047px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_11 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_11 td.layout {
  padding: 0px 0px 0px 20px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_11 .verticalalign {
  vertical-align: middle;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_11 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_11 {
  width: 24.999999999999993%;
  height: 99.99999999999964%;
  cursor: pointer;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_11 .Cell_11 > * {
  margin-right: 46px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_11 .Cell_11 > *:last-child {
  margin-right: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_11 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_14 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_14 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Path_4 {
  width: 6.752659273543049px;
  height: 12.752659273543047px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Allura_22.0.0_google',Arial;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Allura_22.0.0_google',Arial;
  font-size: 54.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Allura_22.0.0_google',Arial;
  font-size: 54.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Allura_22.0.0_google',Arial;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Allura_22.0.0_google',Arial;
  font-size: 54.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Allura_22.0.0_google',Arial;
  font-size: 54.0pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Content_grid_1 {
  position: absolute;
  width: 775.6880012512206px;
  height: 60.5px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_1 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_1 .verticalalign {
  vertical-align: middle;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_1 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_1 {
  width: 16.666666666666664%;
  height: 100.0%;
  cursor: pointer;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_1 .Cell_1 > *:first-child {
  margin-left: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_1 .Cell_1 > *:last-child {
  margin-right: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_1 .Cell_1 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_1 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_4 {
  width: 40.01220703125px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_4 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_4 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_2 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_2 .verticalalign {
  vertical-align: middle;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_2 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_2 {
  width: 16.666666666666664%;
  height: 100.0%;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_2 .Cell_2 > *:first-child {
  margin-left: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_2 .Cell_2 > *:last-child {
  margin-right: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_2 .Cell_2 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_2 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_5 {
  width: 80.8740234375px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_5 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_5 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_3 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_3 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_3 .verticalalign {
  vertical-align: middle;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_3 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_3 {
  width: 16.666666666666664%;
  height: 100.0%;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_3 .Cell_3 > *:first-child {
  margin-left: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_3 .Cell_3 > *:last-child {
  margin-right: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_3 .Cell_3 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_3 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_6 {
  width: 124.19921875000023px;
  min-height: 47.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_6 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_6 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_4 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_4 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_4 .verticalalign {
  vertical-align: middle;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_4 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_4 {
  width: 16.666666666666664%;
  height: 100.0%;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_4 .Cell_4 > *:first-child {
  margin-left: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_4 .Cell_4 > *:last-child {
  margin-right: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_4 .Cell_4 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_4 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_7 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_7 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_7 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_5 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_5 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_5 .verticalalign {
  vertical-align: middle;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_5 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_5 {
  width: 16.666666666666664%;
  height: 100.0%;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_5 .Cell_5 > *:first-child {
  margin-left: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_5 .Cell_5 > *:last-child {
  margin-right: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_5 .Cell_5 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_5 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_8 {
  width: 93.3837890625px;
  min-height: 17.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_8 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_8 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_6 .layout.scrollable {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_6 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_6 .verticalalign {
  vertical-align: middle;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_6 .borderLayer {
  border-left-width: 0.0px;
  border-top-width: 0.0px;
  border-bottom-width: 0.0px;
  border-right-width: 0.0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_6 {
  width: 16.666666666666664%;
  height: 100.0%;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_6 .Cell_6 > *:first-child {
  margin-left: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_6 .Cell_6 > *:last-child {
  margin-right: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_6 .Cell_6 > * {
  margin-left: 3.0px;
  margin-right: 3.0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Cell_6 .ghostHLayout:first-child {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_9 {
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_9 > .borderLayer {
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_9 span {
  color: #82888C;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
#s-25acc505-b002-46be-8925-4920fccb0821 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #82888C;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-weight: 400;
  text-transform: none;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-25acc505-b002-46be-8925-4920fccb0821 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}