
/* FONT IMPORTS */

/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');

/* Merriweather */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Montserrat:ital,wght@1,500&display=swap');

body, html{
    min-width: 100%;
    min-height:100vh;
    font-family: "Merriweather";
}

h2,h3,h4,h5,h6 {
    font-family:"Montserrat";
}

.site_container{
    margin: 125px auto;
    width: 66%;
}

.site_headline{
    border-bottom: 1px solid #d3d3d3;
}

.site_headline > h2{
    font-size: 35px;
    margin-bottom: 0px;
}

.site_headline > p{
    font-size:15px;
    margin-bottom: 40px;
}


.larger_blog{
    display:flex;
}

.larger_blog > img {
    height: 350px;
}

.blog_details {
    margin-left: 20px;
    /* background-color: green; */
    height: 250px;
    width: 30%;
    margin-top: 20px;
}

.blog_details > h4 {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 900;

}

.blog_details > p{
    font-weight: 900;
    text-align:left;
}


.profile_details_section{
    display:flex;

}

#profile_picture{
    height: 40px;
    width: 40px;
    border-radius: 50%;;
}

#read_details{
    display:block;
    margin-left: 10px;

}

#profile_name{
    height: 20px;
    width: 100%;
}

#extra_details{
    height: 20px;
    width: 100%;
}

.smaller_blogs{
    display:flex;
    width: 100%;
    margin-top: 30px;
    height:30%;
    justify-content: space-between;

}

.blog {
    width: 30%;

}

.blog > img {
    height: 250px;
    width: 100%;

}
